<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZuneSocialTagger.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZuneSocialTagger.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZuneSocialTagger.GUI.Properties.Settings>
            <setting name="UpdateAlbumInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppDataFolder" serializeAs="String">
                <value />
            </setting>
        </ZuneSocialTagger.GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ZuneSocialTagger.GUI.Properties.Settings>
            <setting name="UpdateFeedUrl" serializeAs="String">
                <value>https://github.com/leetreveil/Zune-Social-Tagger/raw/master/updates/zunesocupdatefeed.xml</value>
            </setting>
            <setting name="UpdateExeName" serializeAs="String">
                <value>socialtaggerupdater.exe</value>
            </setting>
            <setting name="AppBaseUrl" serializeAs="String">
                <value>http://github.com/leetreveil/Zune-Social-Tagger</value>
            </setting>
        </ZuneSocialTagger.GUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
