<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZuneSocialTagger.GUIV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZuneSocialTagger.GUIV2.Properties.Settings>
            <setting name="UpdateAlbumInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateFeedUrl" serializeAs="String">
                <value>http://github.com/leetreveil/Zune-Social-Tagger/raw/master/updates/zunesocupdatefeed.xml</value>
            </setting>
            <setting name="UpdateExeName" serializeAs="String">
                <value>socialtaggerupdater.exe</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>DateAdded</value>
            </setting>
            <setting name="FirstViewToLoad" serializeAs="String">
                <value>WebAlbumListViewModel</value>
            </setting>
            <setting name="AppDataFolder" serializeAs="String">
                <value/>
            </setting>
        </ZuneSocialTagger.GUIV2.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
